-- Ajouter les colonnes pour stocker les infos du client au moment de la réservation
ALTER TABLE reservations ADD COLUMN IF NOT EXISTS client_nom VARCHAR(255);
ALTER TABLE reservations ADD COLUMN IF NOT EXISTS client_prenom VARCHAR(255);
ALTER TABLE reservations ADD COLUMN IF NOT EXISTS client_telephone VARCHAR(20);
ALTER TABLE reservations ADD COLUMN IF NOT EXISTS client_email VARCHAR(255);

-- Rendre user_id optionnel (on stocke les infos client directement)
ALTER TABLE reservations ALTER COLUMN user_id DROP NOT NULL;

-- Remplir les anciennes réservations avec les infos du user (si nécessaire)
UPDATE reservations r
SET 
  client_nom = COALESCE(r.client_nom, u.nom),
  client_prenom = COALESCE(r.client_prenom, u.prenom),
  client_telephone = COALESCE(r.client_telephone, u.telephone),
  client_email = COALESCE(r.client_email, u.email)
FROM users u
WHERE r.user_id = u.id
  AND (
    r.client_nom IS NULL
    OR r.client_prenom IS NULL
    OR r.client_telephone IS NULL
    OR r.client_email IS NULL
  );

